# Ignore all .pkl files
*.pkl

# Ignore the faiss_index folder
faiss_index/

# Ignore pycache in Loader
Loader/__pycache__/

# Ignore all pdf files 
*.pdf

.venv/

*.zip

# Ignore all cython
*.pyc

# Ignore pycache in Rag
RAG/__pycache__/RAG.cpython-313.pyc

faiss_index/
faiss_index/*
